@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-margin-top: 140px; /* altura do header + folga */
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    gap: 20px;   
}

.logo h2{
    margin-left: 20px;
}
hr{
    border: 1px solid #dceec0;
    margin-bottom: 16px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.navbar a{
    color: #fff;
    margin-right: 30px;
}
.navbar a:hover{
    color: #ff5733;
    transition: color 0.3s ease;
}
.content-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
}
.content-inicio p{
    font-size: 18px;
}
.content-jogador{
    display: flex;
    width: 200px;
    height: auto;
}
.titulo{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-carreira h2{
    margin: 90px 0 10px;
}
.info-carreira p {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 0;
    padding: 5px;
}

.info-clubes h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 18px 0;
}

.content-clubes{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 28px;
}
.clube{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    transform: translateY(0px);
    transition: 0.3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}
.clube:hover{
    transform: translateY(-6px);
}
